---
import Desc from "../components/Desc.astro";
import MainPage from "../components/MainPage.astro";
import Title from "../components/Title.astro";
import { redirects } from "../data/redirects";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
    return redirects.map((redirect) => ({
        params: {id: redirect.id },
        props: { redirect }
    }))
}

const { redirect } = Astro.props
const { id, url, title, desc } = redirect
---

<Layout title={title} desc={desc} redirect={url}>
    <MainPage class="h-[calc(100vh-125px)]">
        <Title>Redirigiendo...</Title>
        <Desc class="mt-2.5">Redirigiendo, por favor espere...</Desc>
    </MainPage>
</Layout>