---
import MainPage from "../components/MainPage.astro";
import Title from "../components/Title.astro";
import { redirects } from "../data/redirects";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
    return redirects.map((redirect) => ({
        params: {id: redirect.id },
        props: { redirect }
    }))
}

const { redirect } = Astro.props
const { id, url, title, desc } = redirect
---

<head>
    <meta http-equiv="refresh" content={`0; url=${url}`} />
</head>

<Layout title={title} desc={desc}>
    <MainPage class="h-[600px]">
        <Title>Redirigiendo...</Title>
        <p class="mt-[10px] text-[1rem] text-[darkgrey] max-w-[600px]">Redirigiendo, por favor espere...</p>
    </MainPage>
</Layout>