---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Ban Game Studios" image="/pages/index.webp" desc="Estudio de desarrollo de servidores (eventos o series) de Minecraft Semi-profesionales.">
    <Banner src="banner"/>
    <div class="flex flex-col justify-center items-center mb-[60px]">
        <div class="max-w-[500px] text-center">
            <Title label="BAN GAME STUDIOS"/>
            <h2 class="text-[1.2rem] text-[#555] mt-0">Creando para creadores.</h2>
            <p class="mt-[10px] pl-5 pr-5 text-[1rem] text-white">Estudio de desarrollo de servidores (eventos o series) de Minecraft Semi-profesionales.</p>
        </div>
    </div>
</Layout>