---
import StaffCard from '../components/StaffCard.astro';
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Banner from '../components/Banner.astro';

import { afiliados } from '../data/staff';
import { activos } from '../data/staff';
import { soporte } from '../data/staff';
---

<Layout title="Staff">
    <Banner src="banner3"/>
    <div class="flex justify-center items-center flex-col">
      <div class="mb-[20px]">
        <Title label="¿Quieres formar parte del equipo de Ban Game Studios?"/>
      </div>

      <a class="items-center  px-[25px] pt-[13px] pb-[15px] bg-[#333] rounded-[20px] no-underline text-white border-2 border-transparent mr-[10px] mb-[1px] transition-all duration-300 ease-in hover:bg-[#222222] hover:border-white" href="https://forms.gle/GyRteA8iBDUffygz9">
        <span class="text-[1.6em]">¡Postulate aqui!</span>
      </a>
      <div class="mt-[40px] mb-[20px]">
        <Title label="Afiliados"/>
      </div>
      <StaffCard profiles={afiliados}/>

      <div class="mt-[40px] mb-[20px]">
        <Title label="Staff Activo"/>
      </div>
      <StaffCard profiles={activos}/>

      <div class="mt-[40px] mb-[20px]">
        <Title label="Staff de Soporte"/>
      </div>
      <div class="mb-[35px]">
          <StaffCard profiles={soporte}/>
      </div>
    </div>
</Layout>
