---
import Layout from "../layouts/Layout.astro"
import Title from "../components/Title.astro"
import MainPage from "../components/MainPage.astro"
---

<Layout title="Terminos y Condiciones" desc="Terminos y condiciones para la realización de proyectos.">
    <MainPage class="h-[500px]">
        <Title>Terminos y Condiciones</Title>
        <p class="mt-[10px] text-[1rem] text-[darkgrey] max-w-[600px]">Proximamente...</p>
    </MainPage>
</Layout>