---
import Layout from "../layouts/Layout.astro"
import Title from "../components/Title.astro"
---

<Layout title="Terminos y Condiciones" desc="Terminos y condiciones para la realización de proyectos.">
    <div class="flex flex-col items-center justify-center center pt-[220px] pb-[220px]">
        <Title label="Terminos y Condiciones"/>
        <p class="mt-[10px] text-[1rem] text-[darkgrey] max-w-[600px]">Proximamente...</p>
    </div>
</Layout>