---
import Layout from "../layouts/Layout.astro"
import Title from "../components/Title.astro"
import MainPage from "../components/MainPage.astro"
import Desc from "../components/Desc.astro"
---

<Layout title="Terminos y Condiciones" desc="Terminos y condiciones para la realización de proyectos.">
    <MainPage class="h-[calc(100vh-125px)]">
        <Title>Terminos y Condiciones</Title>
        <Desc class="mt-2.5">Proximamente...</p>
    </MainPage>
</Layout>