---
import NavButtons from "./NavButtons.astro";
---

<header class="flex items-center text-white bg-[rgba(0,0,0,0.6)] backdrop-blur-[8px] fixed top-0 left-0 w-full h-[55px] z-[1000]">
    <nav class="flex gap-5 pl-5 max-[960px]:hidden">
        <NavButtons/>
    </nav>

    <a class="text-[1.5em] font-bold text-center justify-center absolute transition-colors duration-300 ease top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-[720px]:hidden hover:text-[#ccc]" href="/">BAN GAME STUDIOS</a>

    <a href="/launcher" class="flex absolute right-0 items-center px-3.5 pb-0.5 bg-[#333] rounded-[20px] mr-2 border-2 border-transparent transition-all duration-300 ease hover:bg-[#222222] hover:border-white text-[1.1em]">
        Ban Game Launcher
    </a>

    <div class="hamburger hidden gap-[5px] cursor-pointer ml-5 mt-[5px] z-[1001] relative w-[30px] h-[25px] max-[960px]:flex flex-col" id="hamburger">
        <span class="block w-[30px] h-[3px] bg-white rounded-[3px] transition-all duration-300 ease-in-out"></span>
        <span class="block w-[30px] h-[3px] bg-white rounded-[3px] transition-all duration-150 ease-in-out"></span>
        <span class="block w-[30px] h-[3px] bg-white rounded-[3px] transition-all duration-300 ease-in-out"></span>
    </div>
</header>

<div class="menu fixed top-[50px] left-0 w-full h-full bg-[#000000e6] flex flex-col gap-5 p-5 z-[999]" id="menu">
    <NavButtons/>
</div>

<style>
    .hamburger.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger:hover span {
        background-color: #ccc;
    }

    .menu {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .menu.open {
        transform: translateX(0);
    }
</style>

<script>
    const hamburger = document.getElementById("hamburger");
    const menu = document.getElementById("menu");

    if (hamburger != null) {
        hamburger.addEventListener("click", toggleMenu);
        window.addEventListener("resize", handleResize);

        document.addEventListener('astro:after-swap', () => {
            hamburger.addEventListener("click", toggleMenu);
            window.addEventListener("resize", handleResize);
        });
    }

    function toggleMenu() {
        if (menu == null || hamburger == null) return;

        menu.classList.toggle("open");
        hamburger.classList.toggle("open");
    }

    function handleResize() {
        if (window.innerWidth >= 960) {
            if (menu == null || hamburger == null) return;

            menu.classList.remove("open");
            hamburger.classList.remove("open");
        }
    }
</script>