---
const currentPath = Astro.url.pathname;

const sections = [
    {
        label: 'Inicio',
        href: '/',
    },
    {
        label: 'Proyectos',
        href: '/proyectos/',
        desc: "Proyectos (eventos y series) que hemos realizado."
    },
    {
        label: 'Staff',
        href: '/staff/',
        desc: 'Equipo de Ban Game Studios.'
    },
    {
        label: 'Contacto',
        href: 'https://forms.gle/Vk2Grabxz814EiZ58',
    }
];
---

{
    sections.map(section => (
        <li>
            <a href={section.href} title={section.desc} class={` transition-colors duration-300 ease hover:text-[#ccc] ${currentPath === section.href ? "text-[#9a9999] font-medium" : ""}`}>
                {section.label}
            </a>
        </li>
    ))
}