---
const currentPath = Astro.url.pathname;
import { sections } from "../../data/header"
---

{
    sections.map(section => (
        <li>
            <a href={section.href} title={section.desc} class={` transition-colors duration-300 ease hover:text-[#ccc] ${currentPath === section.href ? "text-[#9a9999] font-medium" : ""}`}>
                {section.label}
            </a>
        </li>
    ))
}