<div class="flex flex-wrap flex-col items-center justify-center mt-[30px]">
    <a href="/launcher" class="flex items-center px-[15px] py-[10px] bg-[#333] rounded-[10px] no-underline text-white border-2 border-transparent transition-all duration-300 ease-in text-[1.2rem] hover:bg-[#222222] hover:border-white">
        <img class="w-[24px] h-[24px] mr-[15px]" src="/icons/windows-icon.svg" alt="Windows">
        <span class="text-[1.1em]">Descagar para Windows</span>
    </a>
    <a href="/launcher" class="mt-3 transition hover:text-[#ccc] duration-300 ease-in underline"><p>Otras opciones de descarga...</p></a>
</div>