---
const {title, href} = Astro.props
---

<a class="block no-underline text-[#7b7b7b] text-[15px] leading-[26px] transition-colors duration-300 ease-in-out hover:text-[#ccc]" href={href}>{title}</a>