<div
    class='hidden fixed z-[1000] top-0 left-0 w-screen h-0.5 overflow-hidden'
    id='loading'
    transition:persist
>
    <div class="loading w-full h-full bg-primary origin-[0%_50%]"></div>
</div>

<style>
    .loading {
        animation: indeterminateLoad 1s infinite linear;
    }

    @keyframes indeterminateLoad {
        0% {
        transform:  translateX(0) scaleX(0);
        }
        40% {
        transform:  translateX(0) scaleX(0.4);
        }
        100% {
        transform:  translateX(100%) scaleX(0.2);
        }
    }
</style>

<script is:inline>
    document.addEventListener('astro:before-preparation', () => {
        document.querySelector('#loading').classList.remove('hidden');
    });
    document.addEventListener('astro:after-preparation', () => {
        document.querySelector('#loading').classList.add('hidden');
    });
</script>