---
import { networks } from '../data/networks'
---

<div class="flex gap-[27px] pt-4 justify-center">
    {
        networks.map((network) => (
            <a href={network.href} target="_blank">
                <img 
                    class="w-[23px] h-[23px] transition-opacity duration-300 ease-in hover:opacity-[0.7] object-contain"
                    src={network.icon} 
                    alt={network.alt}
                />
            </a>
        ))
    }
</div>