---
import Layout from "../../layouts/Layout.astro"
import Title from "../../components/Title.astro"
import { Image } from "astro:assets"
import launcher from '../../assets/launcher.webp'
import MainPage from "../../components/MainPage.astro"
import Desc from "../../components/Desc.astro"
import Windows from "../../components/Icons/Windows.astro"
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

if (!["es", "en"].includes(Astro.url.pathname.split("/")[1])) {
  return new Response(null, { status: 404 });
}
---

<Layout title="Launcher" image="/pages/launcher.webp" desc={t("launcher.desc")}>
    <MainPage class="mt-15">
        <Title>Ban Game Launcher</Title>
        <Desc class="mt-2">{t("launcher.desc2")}</Desc>
        <Desc class="mt-3"><b>{t("launcher.warningTitle")}</b> {t("launcher.warning")} <a href="https://discord.gg/sKRYYyVCnw" target="_blank" class="text-white hover:text-[oklch(0.872_0.01_258.338)] transition-colors ease duration-300">discord</a>.</Desc>
        
        <div class="flex flex-wrap flex-col items-center justify-center mt-6">
            <a href="https://cdn.stackedhost.crysistudio.xyz/ban-game-launcher/release/latest/ban-game-launcher-setup.rar" class="flex items-center px-5 py-3 bg-[#333] rounded-[10px] text-white transition-all duration-300 ease text-[1.2rem] hover:bg-[#222222]">
                <Windows class="w-[24px] h-[24px] mr-[15px]"/>
                <span class="text-[1.1em]">{t("launcher.downloadWindows")}</span>
            </a>
        </div>

        <Image src={launcher} alt="Launcher" loading="eager" quality="high" class="w-[90%] h-[90%] max-w-[900px] rounded-[10px] object-cover drop-shadow-[0_0_20px_rgba(42,42,42,0.250)] border-[1.5px] border-[#ffffff3e] mt-7"/>
    </MainPage>
</Layout>