---
import Networks from "./Networks.astro"
import Column from "./Column.astro"

const COMPANY = [
    {
        name: "Acerca de",
        url: "/acerca/"
    },
    {
        name: "Contacto",
        url: "https://forms.gle/Vk2Grabxz814EiZ58"
    }
]

const COMMUNITY = [
    {
        name: "Discord",
        url: "https://discord.gg/sKRYYyVCnw"
    }
]

const LEGAL = [
    {
        name: "Terminos y Condiciones",
        url: "/terminos/"
    }
]
---

<!-- <footer class="relative bg-[#1c1c1c] mt-auto px-[50px] pt-[20px] pb-[20px]">
    <div class="flex items-start flex-wrap max-[960px]:flex-col max-[960px]:items-center max-[960px]:text-center ">
        <section class="flex-[3]">
            <Title>BAN GAME STUDIOS</Title>
            <p class="text-[#7b7b7b] text-[15px]">© 2025 BanGameStudios</p>
        </section>

        <section class="flex-[3]">
            <Title>Enlaces</Title>
            <Links title="Inicio" href="/"/>
            <Links title="Proyectos" href="/proyectos"/>
            <Links title="Staff" href="/staff"/>
            <Links title="Contacto" href="https://forms.gle/Vk2Grabxz814EiZ58"/>
            <Links title="Launcher" href="/launcher"/>
        </section>

        <section class="flex-[3]">
            <Title>Legal</Title>
            <Links title="Terminos y Condiciones" href="/terminos"/>
        </section>

        <section class="flex-[3] text-[#7b7b7b] prose prose-sm text-[15px]">
            <Title>Acerca de</Title>
            <p class="">Somos un estudio de desarrollo de servidores de Minecraft Java semi-profesionales, fundado por Katto, FranNazurRM y Sir el 10 de agosto de 2023.</p>
            <p class="">Trabajamos mayormente en el lado de los mods con la ayuda de plugins, siempre intentando innovar con estos recursos sin perder calidad.</p>
            <p class=""> Actualmente, estamos colaborando con 
                <a class="no-underline text-white transition-colors duration-300 ease-in hover:text-[#ccc]" href="https://minemu.es/">Minemu</a> 
            para servicios de Host (Servidor).</p>
        </section>
    </div>

    <Networks/>
</footer> -->

<footer class="bg-[#1c1c1c] mt-auto">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white hover:text-[#ccc] transition-colors duration-300 ease">BAN GAME STUDIOS</span>
                </a>
            </div>
            
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <Column col={COMPANY} title="Compania"/>
                <Column col={COMMUNITY} title="Comunidad"/>
                <Column col={LEGAL} title="Legal"/>
            </div>
        </div>

        <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-base sm:text-center text-gray-400">© 2025 <a class="text-white hover:text-[#ccc] transition-colors duration-300 ease" href="/">Ban Game Studios</a>.</span>
            <Networks/>
        </div>
    </div>
</footer>