---
import Networks from "./Networks.astro"
import Column from "./Column.astro"
import { COMPANY, COMMUNITY, LEGAL } from "../../data/footer"
---
<footer class="bg-[#1c1c1c] mt-auto">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white hover:text-[#ccc] transition-colors duration-300 ease">BAN GAME STUDIOS</span>
                </a>
            </div>
            
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <Column col={COMPANY} title="Compania"/>
                <Column col={COMMUNITY} title="Comunidad"/>
                <Column col={LEGAL} title="Legal"/>
            </div>
        </div>

        <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-base sm:text-center text-gray-400">© 2025 <a class="text-white hover:text-[#ccc] transition-colors duration-300 ease" href="/">Ban Game Studios</a>.</span>
            <Networks/>
        </div>
    </div>
</footer>